.page {
    width: 100%;
}

.card {
    width: 100%;
    height: 80px;
    background-color: #121317;
    border-bottom: 2px solid #22242c;
}

.card-body {
    display: flex;
    padding-top: 10px;
    justify-content: space-between;
}

.title {
    display: flex;
    gap: 15px;
}

.title-text {
    font-size: 20px;
    font-weight: 600;
    color: aliceblue;
    margin-bottom: 0;
}

.subtitle {
    color: gray;
}

.search {
    display: flex;
    gap: 15px;
}

p-inputicon {
    margin-top: -15px;
}

input {
    width: 250px;
    height: 40px;
    color: aliceblue;
    background-color: #14161a;
    border: 2px solid #22242c;
    border-radius: 5px;
    margin-top: 8px;
}

button {
    padding-left: 10px;
    padding-right: 10px;
    background-color: #22242c;
    border-radius: 5px;
    height: 40px;
    width: 110px;
    margin-top: 8px;
    color: aliceblue;
    transition: 0.3s;
}

button:hover {
    background: #8aadff;
    color: #253d73;
}

.body {
    padding: 20px;
}

.separator {
    width: 100%;
    height: 2px;
    background-color: #22242c;
}
